body {
    /*background-color: rgba(106, 84, 208, 0.85);*/
    /*color: white;*/
}

body > table {
    background-color: rgb(112, 194, 179);
}

body > table > caption {
    font-size: 40px;
    color: rgba(30, 34, 203, 0.71);
    margin: 20px;
}

body > table > thead {
    color: rgb(152, 239, 58);
    font-size: 23px;
    background-color: #8c45c4;
    height: 80px;
}


body > table > tbody>tr {
    font-size: 18px;
    text-decoration: none;
}

body > table > tbody >tr:nth-child(7){
    color: #1a140b;
    font-size: 25px;
}
body > table > tbody >tr:nth-child(12){
    color: #1a140b;
    font-size: 25px;

}






